<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meal Planner with HTMX</title>
    <link rel="stylesheet" href="public/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h1>Meal Planner</h1>
        <ul>
            <li>
                <strong>Saturday</strong>
                <div style="display: flex; align-items: center;" id="SaturdayMeal-container">
                    <input type="text" name="SaturdayMeal" id="saturday-input" style="flex-grow: 1;" value="{{.SaturdayMeal}}" />
                    <button
                        hx-post="/meal"
                        hx-trigger="click"
                        hx-include="#saturday-input"
                        hx-target="#SaturdayMeal-container"
                    >💾</button>
                </div>
            </li>
            <li>
                <strong>Sunday</strong>
                <div style="display: flex; align-items: center;" id="SundayMeal-container">
                    <input type="text" name="SundayMeal" id="sunday-input" style="flex-grow: 1;" value="{{.SundayMeal}}" />
                    <button
                        hx-post="/meal"
                        hx-trigger="click"
                        hx-include="#sunday-input"
                        hx-target="#SundayMeal-container"
                    >💾</button>
                </div>
            </li>
            <li>
                <strong>Monday</strong>
                <div style="display: flex; align-items: center;" id="MondayMeal-container">
                    <input type="text" name="MondayMeal" id="monday-input" style="flex-grow: 1;" value="{{.MondayMeal}}" />
                    <button
                        hx-post="/meal"
                        hx-trigger="click"
                        hx-include="#monday-input"
                        hx-target="#MondayMeal-container"
                    >💾</button>
                </div>
            </li>
            <li>
                <strong>Tuesday</strong>
                <div style="display: flex; align-items: center;" id="TuesdayMeal-container">
                    <input type="text" name="TuesdayMeal" id="tuesday-input" style="flex-grow: 1;" value="{{.TuesdayMeal}}" />
                    <button
                        hx-post="/meal"
                        hx-trigger="click"
                        hx-include="#tuesday-input"
                        hx-target="#TuesdayMeal-container"
                    >💾</button>
                </div>
            </li>
            <li>
                <strong>Wednesday</strong>
                <div style="display: flex; align-items: center;" id="meal-wednesday-container">
                    <input type="text" name="WednesdayMeal" id="wednesday-input" style="flex-grow: 1;" value="{{.WednesdayMeal}}" />
                    <button
                        hx-post="/meal"
                        hx-trigger="click"
                        hx-include="#wednesday-input"
                        hx-target="#meal-wednesday-container"
                    >💾</button>
                </div>
            </li>
            <li>
                <strong>Thursday</strong>
                <div style="display: flex; align-items: center;" id="ThursdayMeal-container">
                    <input type="text" name="ThursdayMeal" id="thursday-input" style="flex-grow: 1;" value="{{.ThursdayMeal}}" />
                    <button
                        hx-post="/meal"
                        hx-trigger="click"
                        hx-include="#thursday-input"
                        hx-target="#ThursdayMeal-container"
                    >💾</button>
                </div>
            </li>
            <li>
                <strong>Friday</strong>
                <div style="display: flex; align-items: center;" id="FridayMeal-container">
                    <input type="text" name="FridayMeal" id="friday-input" style="flex-grow: 1;" value="{{.FridayMeal}}" />
                    <button
                        hx-post="/meal"
                        hx-trigger="click"
                        hx-include="#friday-input"
                        hx-target="#FridayMeal-container"
                    >💾</button>
                </div>
            </li>
        </ul>
        <h1>Shopping List</h1>
        <form id="shopping-list-form" hx-post="/shopping-list" hx-trigger="submit" hx-target="#shopping-list">
            <input type="text" id="shopping-list-input" name="item" />
            <button type="submit">➕</button>
        </form>
            </label>
            <!-- replace itself on load -->
            <ul hx-get="/shopping-list" hx-trigger="load" hx-swap="outerHTML"></ul>
        </div>
    </div>
    <script src="public/htmx.min.js"></script>
</body>
</html>

