<ul id="shopping-list" hx-get="/shopping-list" hx-trigger="newShoppingListItem from:body">
  {{range .}}
      <li id="{{.}}-list-item">
          <div style="display: flex; align-items: center;">
              <input class="shopping-list-item" type="text" id="{{.}}" value="{{.}}" style="flex-grow: 1;" />
              <button
                  hx-put="/shopping-list-item"
                  hx-trigger="click"
                  hx-include="#{{.}}"
                  hx-target="#{{.}}"
              >💾</button>
              <button
                  hx-delete="/shopping-list-item/{{.}}"
                  hx-trigger="click"
                  hx-include="previous .shopping-list-item"
              >❌</button>
          </div>
      </li>
  {{end}}
</ul>
